/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUehpOqc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXehpOqc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOX-hpOqc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOVuhpOqc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXuhpOqc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUehpOqc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXehpOqc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@mixin bluegradient() {
    background: -webkit-linear-gradient(left, rgb(17, 152, 214) 0%, rgb(56, 169, 221) 65%, rgba(195, 229, 245, 0) 100%);
    background: -o-linear-gradient(left, rgb(17, 152, 214) 0%, rgb(56, 169, 221) 65%, rgba(195, 229, 245, 0) 100%);
    background: -ms-linear-gradient(left, rgb(17, 152, 214) 0%, rgb(56, 169, 221) 65%, rgba(195, 229, 245, 0) 100%);
    background: -moz-linear-gradient(left, rgb(17, 152, 214) 0%, rgb(56, 169, 221) 65%, rgba(195, 229, 245, 0) 100%);
    background: linear-gradient(to right, rgb(17, 152, 214) 0%, rgb(56, 169, 221) 65%, rgba(195, 229, 245, 0) 100%);
}


@mixin bluegradient-top() {
    background: -webkit-linear-gradient(bottom, rgb(17, 152, 214) 0%, rgb(56, 169, 221) 76%, rgba(195, 229, 245, 0) 100%);
    background: -o-linear-gradient(bottom, rgb(17, 152, 214) 0%, rgb(56, 169, 221) 76%, rgba(195, 229, 245, 0) 100%);
    background: -ms-linear-gradient(bottom, rgb(17, 152, 214) 0%, rgb(56, 169, 221) 76%, rgba(195, 229, 245, 0) 100%);
    background: -moz-linear-gradient(bottom, rgb(17, 152, 214) 0%, rgb(56, 169, 221) 76%, rgba(195, 229, 245, 0) 100%);
    background: linear-gradient(to top, rgb(17, 152, 214) 0%, rgb(56, 169, 221) 76%, rgba(195, 229, 245, 0) 100%);
}

.fin-services {
    font-family: 'Open Sans';
    .container {
        @media (min-width: 1200px) {
            max-width: 1160px;
        }
    }
    .cta {
        display: inline-block;
        margin-top: 20px;
        padding: 20px 100px;
        border: 0px;
        border-radius: 10px;
        color: white;
        font-size: 29px;
    }
    h1 {
        font-weight: 800;
        font-size: 70px;
        @media (max-width: 568px) {
            font-size: 40px;
        }
    }
    h2 {
        font-size: 50px;
        font-weight: 800;
    }

    h4 {
        font-weight: 800;
        font-size: 35px;
    }

    h5 {
        font-weight: 800;
        font-size: 28px;
    }

    h6 {
        font-weight: 600;
        font-size: 24px;
    }

    p {
        font-size: 23px;

        @media (max-width: 568px) {
            font-size: 14px;
        }
    }
    .bg-overlay {
        position: absolute;
        background-color: rgba(255,255,255, 0.9);
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        // @media (min-width: 991px) and (max-width: 1300px) {
        //     height: 685px;
        // }
    }
    .banner {
        height: 800px;
        @media (max-width: 991px) {
            height: 1220px;
        }

        @media (max-width: 568px) {
            height: 900px;

        }

        overflow-y: auto;
        .bluegradient {
            height: 800px;
            width: 60%;
            position: absolute;
            z-index: 20;

            @media (max-width: 1140px) {
                width: 700px;
            }
        }
        .img-banner {
            height: 800px;
            position: absolute;
            z-index: 10;
            right: 0px;
            width: 100%;
            /* background-size: contain; */
            background-position-y: -200px;

            background-image: url('images/banner.jpg');
            background-repeat: no-repeat;
            @media (max-width: 991px) {
                background-image: url('images/banner.jpg');
                height: 600px;
                background-position-x: -440px;
                background-position-y: -300px;
            }

            @media (max-width: 568px) {
                background-image: url('images/smallbanner.jpg');
                height: 600px;
                background-position-x: -220px;
                background-position-y: 0px;
            }

            @media (min-width: 1550px) {
                background-position-x: 500px;
                background-position-y: -200px;
            }

            @media (min-width: 1200px) and (max-width: 1550px) {
                background-position-x:  150px;
                background-position-y: -200px;
            }

            @media (min-width: 991px) and (max-width: 1200px) {
                background-position-x: 0;
            }

        }
        .banner-content {
            position: relative;
            z-index: 50;
            width: 480px;
            color: white;
            h1 {
                padding-top: 150px;
            }
            p {
                font-size: 23px;
            }
            button {
                background-color: #ea0022;
                width: 389px;

                @media (max-width: 568px) {
                    width: 300px;
                    padding: 20px 40px;
                }

                @media (max-width: 425px) {
                    font-size: 20px;
                    width: 250px;
                    padding: 20px;
                }
            }
        }
        .banner-content-mobile {
            h1 {
                margin-top: 30px;
                @media (max-width: 568px) {
                    font-size: 40px;
                }
            }
            p {
                font-size: 23px;
                @media (max-width: 568px) {
                    font-size: 14px;
                }
            }
        }
        .bluegradient-top {
            position: absolute;
            z-index: 50;
            top: 420px;
            height: 800px;
            width: 100%;
            display: none;
            @media (max-width: 991px) {
                display: block
            }

            @media (max-width: 568px) {
                top: 340px;
                height: 500px;
            }

            @media (max-width: 425px) {
                top: 340px;
                height: 550px;
            }
        }
    }
    .iframe-bmp {
        iframe {
            height: 600px;
            overflow: auto;
            width: 100%;
        }
    }
    .loan-lender {
        background-position-x: -630px;
        background-image: url('images/banner2.jpg');
        background-repeat: no-repeat;
        @media (max-width: 991px) {
            background-size: cover;
        }
        .track {
            background: rgba(38, 169, 224, 0.9);
            text-align: center;
            color: white;
            padding-top: 150px;
            padding-bottom: 150px;
            @media (max-width: 568px) {
                padding-top: 75px;
                padding-bottom: 75px;
            }
            h2 {
                @media (max-width: 991px) {
                    padding-top: 50px;
                }

                @media (max-width: 568px) {
                    padding-top: 0;
                    font-size: 40px;
                }
            }
            p {
                font-size: 23px;
                @media (max-width: 568px) {
                    font-size: 14px;
                }
            }
        }
        .lenders {
            position: relative;
            .container {
                position: relative;
            }
            h1 {
                padding-top: 60px;
                padding-bottom: 85px;
                color: #006698;
            }

            #lenderCarousel {
                .controls {
                    position: absolute;
                    z-index: 10;
                    top: 0;
                    left: 0;
                    right: 0;
                    @media(max-width: 1200px) {
                        display: none;
                    }
                    .next, .prev {
                        position: absolute;
                        top: 130px;
                        font-size: 40px;
                        opacity: 0.5;

                        @media(max-width: 375px) {
                            top: 100px;
                        }

                        @media(max-width: 650px) {
                            top: 20px;
                        }

                        @media(min-width: 650px) {
                            top: 110px;
                        }

                        @media(min-width: 991px) {
                            top: 70px;
                        }

                        svg {
                            height: 40px;
                        }
                    }
                    .next {
                        right: -50px;

                        @media(max-width: 991px) {
                            right: 90px;
                        }

                        @media(max-width: 425px) {
                            right: 40px;
                        }

                        img {
                            height: 45px;
                        }
                    }
                    .prev {
                        left: -50px;

                        @media(max-width: 991px) {
                            left: 80px;
                        }

                        @media(max-width: 425px) {
                            left: 40px;
                        }
                        img {
                            height: 45px;
                        }
                    }
                }
                .indicators {
                    position: absolute;
                    top: 300px;
                    width: 100%;
                    text-align: center;
                    z-index: 10;
                    margin: 0 auto;
                    padding: 0;
                    @media (max-width: 991px) {
                        top: 550px;
                    }
                    @media (max-width: 425px) {
                        top: 480px;
                    }
                    li {
                        display: inline;
                        margin: 0 5px;
                        font-size: 10px;
                        color: #e2e2e2;
                        &.active {
                            color: #26a9e0;
                        }
                    }
                }
                .lender {
                    margin-bottom: 100px;
                    img {
                        @media (max-width: 425px) {
                            height: 25px;
                        }
                    }
                }
            }
        }
        .support {
            text-align: center;
            padding-top: 130px;
            padding-bottom: 130px;
            position: relative;
            @media (max-width: 991px) {
                padding-top: 0px;
            }

            h4 {
                margin-top: 30px;
            }
            p {
                font-size: 19px;
                width: 350px;
                margin: 0 auto;

                @media (max-width: 568px) {
                    width: auto;
                }
            }
            .left {
                color: #26a9e0;
                .cta {
                    background-color: #26a9e0;
                    @media (max-width: 568px) {
                        padding: 20px 40px;
                    }
                }
                @media (max-width: 568px) {
                    padding-top: 75px;
                }
            }
            .right {
                color: #006698;
                .cta {
                    background-color: #006698;
                    @media (max-width: 568px) {
                        padding: 20px 40px;
                    }
                }
                @media (max-width: 991px) {
                    padding-top: 75px;
                }
            }
        }
    }
    .know-more {
        background-image: url(images/kids.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -220px;
        position:relative;
        @media (min-width: 991px) and (max-width: 1300px) {
            background-position-y: 0px;
        }

        .container {
            @media (max-width: 991px) {
                max-width: 100%;
            }
        }
        .media-img {
            background-image: url('images/kids.jpg');
            background-size: cover;
            @media (max-width: 568px) {
                height: 380px;
                background-image: url(images/kidsmobile.jpg);
                background-size: contain;
            }
            @media (max-width: 991px) {
                background-image: url(images/kidsmobile.jpg);
            }

        }
        h4 {
            text-align: center;
            color: #006698;
        }
        p {
            font-size: 19px;
            margin-bottom: 25px;
            color: #26a9e0;
        }
        .cta {
            background-color: #006698;
        }
        .contact-form {
            padding-top: 80px;
            padding-bottom: 80px;
            @media (max-width: 991px) {
                padding: 0px;
            }
            .media-img {
                @media (min-width: 992px) {
                    flex: 0 0 55%;
                    max-width: 55%;
                }
            }
            .fields {
                @media (min-width: 992px) {
                    flex: 0 0 45%;
                    max-width: 45%;
                }
                background-color: #fff;
                padding: 45px 40px;
                box-shadow: 0px 0px 3px #ccc;
                @media (max-width: 568px) {
                    padding: 25px 0;
                }
                h4 {
                    font-size: 40px;
                }
                form{
                    padding: 0px 25px;
                    font-size: 20;
                    text-align: center;
                }
                p {
                    padding: 0 10px;
                    font-size: 20.5px;
                    text-align: center;
                }
                input {
                    margin-bottom: 10px;
                    color: #e2e2e2;
                    border-radius: 3px;
                    &:focus {
                        color: #26a9e0;
                        box-shadow: none;
                        &::placeholder {
                            color: #26a9e0;
                        }
                    }
                    &::placeholder {
                        color: #999999;
                    }
                }

                .cta {
                    background-color: #26a9e0;
                    color: white;
                    padding: 18px 101px;
                    font-size: 23px;
                    border-radius: 5px;
                }
            }
        }
    }
    .more-info {
        background-color: #3b3c3f;
        color: white;
        padding: 50px;
        @media (max-width: 568px) {
            padding: 20px 0px;
        }
        h2 {
            margin-top: 50px;

            @media (max-width: 568px) {
                margin-top: 15px;
                font-size: 30px;
            }
        }
        h5 {
            margin-bottom: 10px;
            color: #0995d6;
        }
        p {
            font-size: 19px;
        }
        a {
            font-size: 14px;
            text-decoration: underline;
            color: #3b3c3f;
            &:hover, &:focus {
                color: #3b3c3f;
            }
        }
        .posts-container {
            padding-top: 30px;
            padding-bottom: 75px;
            .post-img {
                height: 380px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .post {
                border-radius: 5px;
                border: 1px solid #e2e2e2;
                @media (max-width: 991px) {
                    margin-bottom: 20px;
                }

                .post-description {
                    background-color: #fff;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-top: 8px solid #0995d6;
                    height: 150px;
                }
            }
        }

    }
}

.bluegradient {
    @include bluegradient();
}

.bluegradient-top {
    @include bluegradient-top();
}


